<div class="index-all">
<h1 class="name-index text-center">Boards</h1>
<div class="normal-list text-center">
<% @boards.each do |b| %>
<p><%= link_to b.name, board_path(b) %></p>
<% end %>
</div>
</div>

