// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-home {
  font-size: 100px;
  margin-left: 1300px;
  margin-top: 20px;
  color: rgba(white, 0.5) !important;
}

.fa-home a:hover {
  color: white !important;
}

